apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "scratchapi.deploymentname" . }}
  labels:
    {{- include "scratchapi.appLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "scratchapi.appSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "scratchapi.appSelectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          env:
            - name: POSTGRES_HOST
              value: "{{ include "scratchapi.dbservicename" . }}"
            - name: POSTGRES_PORT
              value: "{{ .Values.database.servicePort }}"
            - name: POSTGRES_DB
              value: "{{ .Values.database.dbName }}"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: db_username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: db_password
          ports:
            - name: http
              containerPort: {{ .Values.backend.containerPort }}
              protocol: TCP
              {{- if eq .Values.backend.serviceType "NodePort" }}
                nodePort: {{ .Values.backend.nodePort }}
              {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
